In [ ]:
# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
**Objectives:**
- List popular languages for Data Science
- Some of the commonly used libraries used by Data Scientist 
- Data Science Tools
- Examples of evaluating arithmetic expressions in Python

In [ ]:
Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Java
5. Julia

In [ ]:
Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-Learn
5. TensorFlow

In [ ]:
| Data Science Tools |
| ------------------ |
| Mysql |
| Apache Cassandra |
| Ceph |
| Hadoop HDFS |

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python

In [20]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [22]:
#This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

In [ ]:
## Author
David Fern√°ndez Cuesta